py -m pip install --upgrade pip
py -m pip install tensorflow
py -m pip install flask flask-cors
py -m pip install opencv-python
py -m pip install pillow
py -m pip install numpy pandas
py -m pip install matplotlib seaborn
py -m pip install scikit-learn
py -m pip install albumentations
py -m pip install tqdm